
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
</head>

<body class="d-flex flex-column min-vh-100">
        <!-- header Navigation-->
        <div class="card-header text-center">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand text-dark" href="/main" >SWP-Project</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav  me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                      <li class="nav-item ">
                        <a class="nav-link text-dark"  href="#">Menu</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="/login1">Account</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Cart</a>
                      </li>
                    </ul>
                    
                    
                  </div>
               
      
                    
              

                    <form class="d-flex" role="search">
                      <input class="form-control me-2 margi" type="search" placeholder="Search Bar" aria-label="Search">
                      <button class="btn btn-outline-success " type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </div>

        <!-- Body -->
        <div class="card-body mt-5 text-center">
          <h5 class="card-title ">Welcome Project</h5>
          <p class="card-text">Product list</p>
          
          <!--product-->
            <div class="row mt-5 mb-5">
              <% for(var i = 0; i < length; i++) {%>
                <div class="col-3">
                  <div class="card">
                      <div class="card-header">
                          <!-- Category -->
                        </div>
                        <img src="<%=img[i]%>" alt="" />
                        <div class="card-body">
                          <h5 class="card-title"><%=name[i]%></h5>
                          <p class="card-text"><%=desc[i]%></p>
                          <p class="card-text"><%=price[i]%></p>
                          <form action="/goToProduct" method="post">
                            <input type="hidden" name="goProduct" value="<%=id[i]%>">
                            <button type="submit" class="btn btn-primary">Details</button>
                          </form>
                        </div>
                  </div>
                </div>
          <% } %>
            </div>
          </div>
          
        </div>
      </div>
    </body>

                
    <footer class="card-footer text-muted py-5 bg-light mt-auto">
        footer :)
      </footer>
</html>