
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
</head>
<body onload="init();">
  <script language="JavaScript">
  var sell_price;
  var amount;
  
  function init () {
   sell_price = document.form.sell_price.value;
   amount = document.form.amount.value;
   document.form.sum.value = sell_price;
   change();
  }
  
  function add () {
   hm = document.form.amount;
   sum = document.form.sum;
   hm.value ++ ;
  
   sum.value = parseInt(hm.value) * sell_price;
  }
  
  function del () {
   hm = document.form.amount;
   sum = document.form.sum;
    if (hm.value > 1) {
     hm.value -- ;
     sum.value = parseInt(hm.value) * sell_price;
    }
  }
  
  function change () {
   hm = document.form.amount;
   sum = document.form.sum;
  
    if (hm.value < 0) {
     hm.value = 0;
    }
   sum.value = parseInt(hm.value) * sell_price;
  } 
  //-->
  </script>


<body class="d-flex flex-column min-vh-100">
  <div class="card-header text-center">
        <!-- header Navigation-->
        
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand text-dark" href="/" >SWP-Project</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav  me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                      <li class="nav-item ">
                        <a class="nav-link text-dark"  href="#">Menu</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="/login1">Account</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Cart</a>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search Bar" aria-label="Search">
                      <button class="btn btn-outline-success " type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </div>

        <!-- Body -->
        <div class="card-body mt-5 ">
          <h5 class="card-title text-center">Product Details</h5>
      
          
          <!--product-->
          <div class="container">
            <div class="row">
              <div class="col-md-5 mt-5">
                <div class="card" style="width: 25 rem;">
                  <img src="../<%=img%>" alt="<%=name%> Image">
                </div>
              </div>

              <div class="col-md-7 mt-5">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title"><%=name%></h5>
                    <h6 class="card-text pt-3 pb-3 border-top"><%=desc%></h6>
                      
                      <form name="form" method="get">
                    <p class="card-text border-top pt-3">
                      <span class="badge bg-dark">Price:</span>
                      <input type=hidden name="sell_price" value="<%=price%>"> <!--sell price-->
                      <span class="badge bg-dark"><%=price%></span>
                      <span class="badge bg-dark">Euro</span>
                    </p>
                  
                    <p class="card-text border-top pb-3">
                      <div class="row">
                        <div class="col-auto">
                          <label class="col-form-label">Quantity</label>
                        </div>
                        <div class="col-auto">
                          <div class="input-group">
                            <input type="button" value=" - " onclick="del();">
                            <input type="text" name="amount" value="1" size="1" onchange="change();">
                            <input type="button" value=" + " onclick="add();">
                          </div>
                        </div>
                      </div>
                    </p>
                    <div class="row pt-3 pb-3 border-top">
                      <div class="col-6">
                        <h3>Order Total</h3>
                      </div>
                      <div class="col-6" style="text-align: right;">
                          <input type="text" name="sum" size="5" readonly>
                           <span class="col-6">€</span>
                      </div>
                    </div>
                  </form>
                  
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="col-6 d-grid p-1">
                        <button type="button" class="btn btn-lg btn-dark">Add to Basket</button>
                      </div>
                      <div class="col-6 d-grid p-1">
                        <button type="button" class="btn btn-lg btn-secondary">Buy now</button>
                      </div>
                    
                    </div>

                    

                    <div class="row pt-3 pb-3 border-top">
                     <h4 class="mb-3">Review this product</h4>
                     <div >
                      <a href="/writeReview"><button type="button" class="btn btn-sm btn-secondary">Write a customer review</button></a>
                     </div>
                                <hr class="my-4">
                                <div class="low d-flex justify-content-start align-items-center">
                                  <a href="#!">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                      class="img-fluid rounded-circle me-3" width="35">
                                  </a>
                                  <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                                      class="text-muted small">UserName1</span></p>
                                  <p class="mb-0 text"><i class="fas fa-link ms-4 me-2"></i> <span
                                      class="text-muted small">So great Laptop..! It's perfect !!</span></p>
                              
                          </div>

                          <div class="low d-flex justify-content-start align-items-center">
                            <a href="#!">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                class="img-fluid rounded-circle me-3" width="35">
                            </a>
                            <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                                class="text-muted small">UserName2</span></p>
                            <p class="mb-0 text"><i class="fas fa-link ms-4 me-2"></i> <span
                                class="text-muted small">Please Don't buy ......not recommend</span></p>
                    </div>
                      </div>
                          
                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>

      
          
        </div>
      </div>
    </body>

                
    <footer class="card-footer text-muted py-5 bg-light mt-auto">
      </footer>

      
</html>